In [26]:
# Etapas

# 1.Padronizar a coluna "categoria" para minúsculas.
# 2.Remover registros onde a quantidade está ausente
# 3. Remover espaços extras e padronizar com primeira letra maiúscula (estilo título)
# 4. Garantir que a coluna data seja datetime
# 5. Calcular valor unitário real das vendas válidas
# 6. Calcular valor médio unitário por produto (sem considerar nulos)
# 7. Agrupar e calcular média
# 8. Preencher valor_unitario ausente
# 9. Recalcular valor_venda
# 10. Salvar o novo DataFrame limpo em um novo arquivo Excel

# REMOVE DUPLICATAS
# 

import pandas as pd
import matplotlib.pyplot as plt

df = pd.read_excel('vendas.xlsx')
display(df)

,data,loja,categoria,produto,quantidade,valor_venda
0,2024-07-20,Vento Norte,ELETRODOMESTICOS,Aquecedor,5.0,405.55
1,2024-05-30,Vento Norte,sazonal,Guarda-chuva,6.0,2866.20
2,2024-01-25,Vento Norte,roupas,Calça,8.0,3292.72
3,2024-07-10,Chuva Clara,roupas,Casaco,5.0,1294.95
4,2024-05-29,Porto Sol,infantil,Blusa Infantil,NaN,NaN
...,...,...,...,...,...,...
495,2024-08-23,Porto Sol,eletrodomesticos,Ventilador,4.0,1545.72
496,2024-12-19,Vento Norte,eletrodomesticos,Ventilador,1.0,230.89
497,2024-05-12,Vila Neve,infantil,Blusa Infantil,6.0,441.30
498,2024-03-08,Vila Neve,eletrodomesticos,Ar-condicionado,1.0,293.93
499,2024-07-25,Vento Norte,sazonal,Guarda-chuva,3.0,1479.81

In [27]:
# 1.Padronizar a coluna "categoria" para minúsculas.
df['categoria'].str.lower()
display(df)

,data,loja,categoria,produto,quantidade,valor_venda
0,2024-07-20,Vento Norte,ELETRODOMESTICOS,Aquecedor,5.0,405.55
1,2024-05-30,Vento Norte,sazonal,Guarda-chuva,6.0,2866.20
2,2024-01-25,Vento Norte,roupas,Calça,8.0,3292.72
3,2024-07-10,Chuva Clara,roupas,Casaco,5.0,1294.95
4,2024-05-29,Porto Sol,infantil,Blusa Infantil,NaN,NaN
...,...,...,...,...,...,...
495,2024-08-23,Porto Sol,eletrodomesticos,Ventilador,4.0,1545.72
496,2024-12-19,Vento Norte,eletrodomesticos,Ventilador,1.0,230.89
497,2024-05-12,Vila Neve,infantil,Blusa Infantil,6.0,441.30
498,2024-03-08,Vila Neve,eletrodomesticos,Ar-condicionado,1.0,293.93
499,2024-07-25,Vento Norte,sazonal,Guarda-chuva,3.0,1479.81

In [28]:
# 2.Remover registros onde a quantidade está ausente
df = df.dropna(subset=['quantidade'])
display(df)

,data,loja,categoria,produto,quantidade,valor_venda
0,2024-07-20,Vento Norte,ELETRODOMESTICOS,Aquecedor,5.0,405.55
1,2024-05-30,Vento Norte,sazonal,Guarda-chuva,6.0,2866.20
2,2024-01-25,Vento Norte,roupas,Calça,8.0,3292.72
3,2024-07-10,Chuva Clara,roupas,Casaco,5.0,1294.95
5,2024-08-31,Porto Sol,sazonal,Manta térmica,2.0,957.96
...,...,...,...,...,...,...
495,2024-08-23,Porto Sol,eletrodomesticos,Ventilador,4.0,1545.72
496,2024-12-19,Vento Norte,eletrodomesticos,Ventilador,1.0,230.89
497,2024-05-12,Vila Neve,infantil,Blusa Infantil,6.0,441.30
498,2024-03-08,Vila Neve,eletrodomesticos,Ar-condicionado,1.0,293.93
499,2024-07-25,Vento Norte,sazonal,Guarda-chuva,3.0,1479.81

In [29]:
# 3. Remover espaços extras e padronizar com primeira letra maiúscula (estilo título)
df['loja'] = df['loja'].str.title().str.strip()

df['categoria'] = df['categoria'].str.title().str.strip()

df['produto'] = df['produto'].str.title().str.strip()

display(df)

,data,loja,categoria,produto,quantidade,valor_venda
0,2024-07-20,Vento Norte,Eletrodomesticos,Aquecedor,5.0,405.55
1,2024-05-30,Vento Norte,Sazonal,Guarda-Chuva,6.0,2866.20
2,2024-01-25,Vento Norte,Roupas,Calça,8.0,3292.72
3,2024-07-10,Chuva Clara,Roupas,Casaco,5.0,1294.95
5,2024-08-31,Porto Sol,Sazonal,Manta Térmica,2.0,957.96
...,...,...,...,...,...,...
495,2024-08-23,Porto Sol,Eletrodomesticos,Ventilador,4.0,1545.72
496,2024-12-19,Vento Norte,Eletrodomesticos,Ventilador,1.0,230.89
497,2024-05-12,Vila Neve,Infantil,Blusa Infantil,6.0,441.30
498,2024-03-08,Vila Neve,Eletrodomesticos,Ar-Condicionado,1.0,293.93
499,2024-07-25,Vento Norte,Sazonal,Guarda-Chuva,3.0,1479.81

In [30]:
# 4. Garantir que a coluna data seja datetime
df['data'] = pd.to_datetime(df['data'])
display(df)

,data,loja,categoria,produto,quantidade,valor_venda
0,2024-07-20,Vento Norte,Eletrodomesticos,Aquecedor,5.0,405.55
1,2024-05-30,Vento Norte,Sazonal,Guarda-Chuva,6.0,2866.20
2,2024-01-25,Vento Norte,Roupas,Calça,8.0,3292.72
3,2024-07-10,Chuva Clara,Roupas,Casaco,5.0,1294.95
5,2024-08-31,Porto Sol,Sazonal,Manta Térmica,2.0,957.96
...,...,...,...,...,...,...
495,2024-08-23,Porto Sol,Eletrodomesticos,Ventilador,4.0,1545.72
496,2024-12-19,Vento Norte,Eletrodomesticos,Ventilador,1.0,230.89
497,2024-05-12,Vila Neve,Infantil,Blusa Infantil,6.0,441.30
498,2024-03-08,Vila Neve,Eletrodomesticos,Ar-Condicionado,1.0,293.93
499,2024-07-25,Vento Norte,Sazonal,Guarda-Chuva,3.0,1479.81

In [32]:
# 5. Calcular valor unitário real das vendas válidas

# desenvolver possibilidade

df['valor_unitário'] = df['valor_venda'] / df['quantidade']
display(df.head(10))

,data,loja,categoria,produto,quantidade,valor_venda,valor_unitário
0,2024-07-20,Vento Norte,Eletrodomesticos,Aquecedor,5.0,405.55,81.11
1,2024-05-30,Vento Norte,Sazonal,Guarda-Chuva,6.0,2866.20,477.70
2,2024-01-25,Vento Norte,Roupas,Calça,8.0,3292.72,411.59
3,2024-07-10,Chuva Clara,Roupas,Casaco,5.0,1294.95,258.99
5,2024-08-31,Porto Sol,Sazonal,Manta Térmica,2.0,957.96,478.98
...,...,...,...,...,...,...,...
495,2024-08-23,Porto Sol,Eletrodomesticos,Ventilador,4.0,1545.72,386.43
496,2024-12-19,Vento Norte,Eletrodomesticos,Ventilador,1.0,230.89,230.89
497,2024-05-12,Vila Neve,Infantil,Blusa Infantil,6.0,441.30,73.55
498,2024-03-08,Vila Neve,Eletrodomesticos,Ar-Condicionado,1.0,293.93,293.93
499,2024-07-25,Vento Norte,Sazonal,Guarda-Chuva,3.0,1479.81,493.27